.footer{
  background-color: #323232;
  padding: 20px;
  margin-top: 10rem;
  
}
.footer-content{
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  color: #d9d9d9;
}
.company h1{
  color: tomato;
}
.company p{
  text-wrap: wrap;
  width: 400px;
}

